﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GNSShare_client</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GNSShare_client.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
    @if(@GNSShare_client.client.GNSShare.endpoints(@ViewBag.ipAddress).Contains((int)@GNSShare_client.client.GNSShare.Operazioni.AGGIUNGI_UTENTE)){<li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AggiungiUtente">Aggiungi utente</a></li>}
    @if(@GNSShare_client.client.GNSShare.endpoints(@ViewBag.ipAddress).Contains((int)@GNSShare_client.client.GNSShare.Operazioni.AGGIUNGI_STAZIONE)){<li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AggiungiStazione">Aggiungi stazione</a></li>}
    @if(@GNSShare_client.client.GNSShare.endpoints(@ViewBag.ipAddress).Contains((int)@GNSShare_client.client.GNSShare.Operazioni.CARICA_FILE)){<li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Mappa" asp-action="CaricaFile">Carica file</a></li>}
    @if(@GNSShare_client.client.GNSShare.endpoints(@ViewBag.ipAddress).Contains((int)@GNSShare_client.client.GNSShare.Operazioni.ELENCO_STAZIONI)){<li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Mappa" asp-action="MappaStazioni">Mappa stazioni</a></li>}
    @if(@GNSShare_client.client.GNSShare.endpoints(@ViewBag.ipAddress).Contains((int)@GNSShare_client.client.GNSShare.Operazioni.STATISTICHE)){<li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Statistiche">Statistiche</a></li>}
    @if(@GNSShare_client.client.GNSShare.endpoints(@ViewBag.ipAddress).Contains((int)@GNSShare_client.client.GNSShare.Operazioni.LOGIN)){<li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Login</a></li>}
                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if(@GNSShare_client.client.GNSShare.isAuthenticated(@ViewBag.ipAddress))
                    {
                        <p class="utenteConnesso">Benvenuto @GNSShare_client.client.GNSShare.utenteCorrente(@ViewBag.ipAddress).toString()</p>
                         
                        <input type="button" value="Logout" onclick="location.href='@Url.Action("Logout", "Home")'" />
                    }
                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">

            <!--  FINESTRA DI DIALOGO per le comunicazioni dal server -->
            <div id="myModalSuccess" class="modal fade text-width:30%;" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header"><h2>Notifica</h2></div>
                        <div id="MyModalSuccessAlertBody" class="modal-body alert alert-success">Il messaggio si vedrà qui.</div>
                        <div class="modal-footer">&nbsp;<button type="button" class="btn btn-info" data-dismiss="modal" onclick="$('#myModalSuccess').modal('hide');">Close</button></div>
                    </div>
                </div>
            </div>

            <div id="myModalError" class="modal fade text-width:30%;" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header"><h2>Errore</h2></div>
                        <div id="MyModalErrorAlertBody" class="modal-body alert alert-danger">Il messaggio si vedrà qui.</div>
                        <div class="modal-footer">&nbsp;<button type="button" class="btn btn-info" data-dismiss="modal" onclick="$('#myModalError').modal('hide');">Close</button></div>
                    </div>
                </div>
            </div>
            <!--  FINESTRA DI DIALOGO per le comunicazioni dal server -->

            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
        
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

