@model CaricaFileModel

@{
    ViewData["Title"] = "Carica un nuovo file a sistema";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

@using (Html.BeginForm("LoadFile", "Mappa", FormMethod.Post, new { enctype="multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    
    <table class="center page">
        <tr>
            <td><label>(*) Codice stazione</label></td>
            <td>@Html.DropDownListFor(model => model.codiceStazione, Model.ListaStazioni)</td>
            <td>@Html.ValidationMessageFor(model => model.codiceStazione, "", new { @class = "text-danger" })</td>
        </tr>
        <tr>
            <td><label>(*) Data creazione<br>(YYYY-MM-DD HH:mm:ss)</label></td>
            <td>@Html.TextBoxFor(model => model.dataCreazione)</td>
            <td>@Html.ValidationMessageFor(model => model.dataCreazione, "", new { @class = "text-danger" })</td>
        </tr>
        <tr>
            <td><label>(*) Frequenza</label></td>
            <td>@Html.TextBoxFor(model => model.frequenza)</td>
            <td>@Html.ValidationMessageFor(model => model.frequenza, "", new { @class = "text-danger" })</td>
        </tr>
        <tr>
            <td><label>(*) Inizio periodo<br>(YYYY-MM-DD HH:mm:ss)</label></td>
            <td>@Html.TextBoxFor(model => model.inizioPeriodo)</td>
            <td>@Html.ValidationMessageFor(model => model.inizioPeriodo, "", new { @class = "text-danger" })</td>
        </tr>
        <tr>
            <td><label>(*) Fine periodo<br>(YYYY-MM-DD HH:mm:ss)</label></td>
            <td>@Html.TextBoxFor(model => model.finePeriodo)</td>
            <td>@Html.ValidationMessageFor(model => model.finePeriodo, "", new { @class = "text-danger" })</td>
        </tr>

        <tr>
            <td colspan=2>@Html.TextBoxFor(model => model.file, "", new { type= "file" })</td>
            @ViewBag.Message
            <td>@Html.ValidationMessageFor(model => model.file, "", new { @class = "text-danger" })</td>
        </tr>

        <tr>
            <td></td>
            <td><button type="submit" value="">Invia</button></td>
        </tr>
    </table>
}

</div>

@section Scripts{
    <script type="text/javascript">
        function openSuccessModal(strMessage){
            var myDiv = document.getElementById("MyModalSuccessAlertBody");
            myDiv.innerHTML = strMessage;
            $('#myModalSuccess').modal('show');
        }

        function openErrorModal(strMessage){
            var myDiv = document.getElementById("MyModalErrorAlertBody");
            myDiv.innerHTML = strMessage;
            $('#myModalError').modal('show');
        }

        $(document).ready(function() {
            var msgSucc = "@TempData["SuccessMessage"]";
            if(msgSucc) openSuccessModal(msgSucc);

            var msgErr = "@TempData["ErrorMessage"]";
            if(msgErr) openErrorModal(msgErr);
        });
    </script>
}