﻿@model MappaModel

@{
    ViewData["Title"] = "Mappa Stazioni";
}

<div class="text-center fullscreen">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <div class="form-group">
        <table class="page">
            <tr><td></td><td>Stazioni</td><td style="text-align: center;">Dettagli Stazione</td>
            @if(Model.stazioneScelta is null){<td></td>}
            else {<td style="text-align:left">Elenco dei file per la stazione @Model.stazioneScelta</td>}
            </tr>
                
            <tr>
                <td style="vertical-align: top;">
                    <div>
                        <img src="@ViewBag.MapStationsData">
                    </div>
                </td>
                <td style="vertical-align: top;">
                @if(Model.ListaStazioni is not null)
                {
                    <table>
                    @foreach(var st in Model.ListaStazioni)
                    {
                        <tr>
                            <td><a href="@Url.Action("MappaStazioni", "Mappa", new { stazioneScelta = st.Key }  )"><button>@st.Key</button></a></td>
                        </tr>
                    }
                    </table>
                }
                </td>
                
                @if(Model._stazioneScelta is not null)
                {
                <td style="vertical-align: top; min-width:250px; text-align: center; padding:20px 20px;">
                    <label><h2>@Model._stazioneScelta.codice</h2></label><br>
                    <label>Nome:<b>@Model._stazioneScelta.nome</b></label><br>
                    <label>Rete:<b>@Model._stazioneScelta.rete</b></label><br>
                    <label>Tipo:<b>@Model._stazioneScelta.tipo</b></label><br>
                    <label>Latitudine:<b>@Model._stazioneScelta.latitudine</b></label><br>
                    <label>Longitudine:<b>@Model._stazioneScelta.longitudine</b></label><br>
                    <label>Altitudine:<b>@Model._stazioneScelta.altitudine</b></label><br>
                    <label>Gps:@if(Model._stazioneScelta.gps){<b>SI</b>}else{<b>NO</b>}</label><br>
                    <label>Galileo:@if(Model._stazioneScelta.galileo){<b>SI</b>}else{<b>NO</b>}</label><br>
                    <label>Glonass:@if(Model._stazioneScelta.glonass){<b>SI</b>}else{<b>NO</b>}</label><br><br>
                    <img src="@ViewBag.MapSingleStationData">
                </td>
                <td style="vertical-align: top;">
                    <table>
                    @foreach(var f in Model._stazioneScelta.elencoFileCaricati)
                    {
                        <tr>
                            <td><i class="fa fa-file-text-o" style="font-size:24px"></i></td>
                            <td>@f.Value</td>
                            <td>
                                @if(@GNSShare_client.client.GNSShare.endpoints(@ViewBag.ipAddress).Contains((int)@GNSShare_client.client.GNSShare.Operazioni.DOWNLOAD_FILE))
                                {   
                                <a href="@Url.Action("DownloadFile", "Mappa", new { stazioneScelta = Model._stazioneScelta.codice, fileScelto =  f.Value}  )"><i class="fa fa-download" style="font-size:24px"></i></a>
                                }
                            </td>
                        </tr>
                    }
                    </table>
                </td>
                }
            </tr>
        </table>
        
    </div>    

</div>
@section Scripts{
    <script type="text/javascript">
        function openSuccessModal(strMessage){
            var myDiv = document.getElementById("MyModalSuccessAlertBody");
            myDiv.innerHTML = strMessage;
            $('#myModalSuccess').modal('show');
        }

        function openErrorModal(strMessage){
            var myDiv = document.getElementById("MyModalErrorAlertBody");
            myDiv.innerHTML = strMessage;
            $('#myModalError').modal('show');
        }

        $(document).ready(function() {
            var msgSucc = "@TempData["SuccessMessage"]";
            if(msgSucc) openSuccessModal(msgSucc);

            var msgErr = "@TempData["ErrorMessage"]";
            if(msgErr) openErrorModal(msgErr);
        });
    </script>
}