@model StazioneModel

@{
    ViewData["Title"] = "Aggiungi Stazione";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

@using (Html.BeginForm("AddStation", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <table class="center page">
        <tr>
            <td><label>(*) Codice</label></td>
            <td>@Html.TextBoxFor(model => model.codice)</td>
            <td>@Html.ValidationMessageFor(model => model.codice, "", new { @class = "text-danger" })</td>
        </tr>
        <tr>
            <td><label>Nome</label></td>
            <td>@Html.TextBoxFor(model => model.nome)</td>
        </tr>
        <tr>
            <td><label>(*) Latitudine</label></td>
            <td>@Html.TextBoxFor(model => model.latitudine)</td>
            <td>@Html.ValidationMessageFor(model => model.latitudine, "", new { @class = "text-danger" })</td>
        </tr>
        <tr>
            <td><label>(*) Longitudine</label></td>
            <td>@Html.TextBoxFor(model => model.longitudine)</td>
            <td>@Html.ValidationMessageFor(model => model.longitudine, "", new { @class = "text-danger" })</td>
        </tr>
        <tr>
            <td><label>(*) Altitudine</label></td>
            <td>@Html.TextBoxFor(model => model.altitudine)</td>
            <td>@Html.ValidationMessageFor(model => model.altitudine, "", new { @class = "text-danger" })</td>
        </tr>
        <tr>
            <td><label>Rete</label></td>
            <td>@Html.TextBoxFor(model => model.rete)</td>
        </tr>
        <tr>
            <td><label>Tipo</label></td>
            <td>@Html.TextBoxFor(model => model.tipo)</td>
        </tr>
        <tr>
            <td><label>gps</label></td>
            <td>@Html.CheckBoxFor(model => model.gps)</td>
            
        </tr>
        <tr>
            <td><label>galileo</label></td>
            <td>@Html.CheckBoxFor(model => model.galileo)</td>
        </tr>
        <tr>
            <td><label>glonass</label></td>
            <td>@Html.CheckBoxFor(model => model.glonass)</td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit" value="">Invia</button></td>
        </tr>

    </table>
    
}

</div>

@section Scripts{
    <script type="text/javascript">
        function openSuccessModal(strMessage){
            var myDiv = document.getElementById("MyModalSuccessAlertBody");
            myDiv.innerHTML = strMessage;
            $('#myModalSuccess').modal('show');
        }

        function openErrorModal(strMessage){
            var myDiv = document.getElementById("MyModalErrorAlertBody");
            myDiv.innerHTML = strMessage;
            $('#myModalError').modal('show');
        }

        $(document).ready(function() {
            var msgSucc = "@TempData["SuccessMessage"]";
            if(msgSucc) openSuccessModal(msgSucc);

            var msgErr = "@TempData["ErrorMessage"]";
            if(msgErr) openErrorModal(msgErr);
        });
    </script>
}