@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>


@using (Html.BeginForm("DoLogin", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <table class="center page">
        <tr>
            <td><label>Username</label></td>
            <td>@Html.TextBoxFor(model => model.username)</td>
            <td>@Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })</td>
        </tr>
        <tr>
            <td><label>Password</label></td>
            
            <td>@Html.PasswordFor(model => model.password)</td>
            <td>@Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })</td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit">Invia</button></td>
        </tr>
    </table>
}

</div>


@section Scripts{
    <script type="text/javascript">
        function openSuccessModal(strMessage){
            var myDiv = document.getElementById("MyModalSuccessAlertBody");
            myDiv.innerHTML = strMessage;
            $('#myModalSuccess').modal('show');
        }

        function openErrorModal(strMessage){
            var myDiv = document.getElementById("MyModalErrorAlertBody");
            myDiv.innerHTML = strMessage;
            $('#myModalError').modal('show');
        }

        $(document).ready(function() {
            var msgSucc = "@TempData["SuccessMessage"]";
            if(msgSucc) openSuccessModal(msgSucc);

            var msgErr = "@TempData["ErrorMessage"]";
            if(msgErr) openErrorModal(msgErr);
        });
    </script>
}