@model StatisticheModel

@{
    ViewData["Title"] = "Statistiche";
}

<div class="text-center fullscreen">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <table class="left page">
        <tr>
            <td><img src="@ViewBag.plotTotalDownloads"></td>
            <td><img src="@ViewBag.plotTotalMovements"></td>
        </tr>
    </table>

</div>


@section Scripts{
    <script type="text/javascript">
        function openSuccessModal(strMessage){
            var myDiv = document.getElementById("MyModalSuccessAlertBody");
            myDiv.innerHTML = strMessage;
            $('#myModalSuccess').modal('show');
        }

        function openErrorModal(strMessage){
            var myDiv = document.getElementById("MyModalErrorAlertBody");
            myDiv.innerHTML = strMessage;
            $('#myModalError').modal('show');
        }

        $(document).ready(function() {
            var msgSucc = "@TempData["SuccessMessage"]";
            if(msgSucc) openSuccessModal(msgSucc);

            var msgErr = "@TempData["ErrorMessage"]";
            if(msgErr) openErrorModal(msgErr);
        });
    </script>
}