html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table.center{
  margin-left: auto;
  margin-right: auto;
}

table.page{
  margin-top: 30px;
}
table.page td{
  padding: 10px;
}

table.page button{
  background-color: burlywood;
  border-radius: 10px;
  min-width: 100%;
}
table.page select{
  width: 100%;
}
table.page a{
  text-decoration: none;
  color: black;
}
div.fullscreen{
  width: 98%;
  position: absolute;
  left: 0;
  padding: 0 50px;
}